{% extends 'layout.html' %}


{% block body %}
<!-- Jumbotron -->
<div id="index-image " class="card card-image container " style="background-image: url(https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg?cs=srgb&dl=pexels-markus-spiske-1089438.jpg&fm=jpg); ">
  <div  class="text-white text-center rgba-stylish-strong py-5 px-4 index-image">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h5 orange-text"><i class="fas fa-camera-retro"></i> Photography</h5>
      <h2 class="card-title h2 my-4 py-2">Jumbotron with image overlay</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis perferendis vitae cumque et quo impedit.</p>
      <a class="btn peach-gradient"><i class="fas fa-clone left"></i> View project</a>

    </div>
  </div>
</div>
<!-- Jumbotron -->

<div class="container">
<h3 class="text-center"> {{article.title}} </h3>
<h5>{{article.created_date}}</h5>
<h5>{{article.author}}</h5>

<p>
{{article.content|safe}}

</p>
</div>

{% endblock body %}
{% block footer %}
{% include "footer.html" %}
{% endblock footer %}
